*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* 
bg FDFFF5
BG- E7E7DF
TEXT- 171717
text 303134
*/

body{
   /* background-color: #FDFFF5; */
   background-color: #f1f1f1;
}

/* section 1 */
.section-I{
   @apply h-screen bg-gray-50 w-full flex flex-col lg:flex-row justify-center items-center;
}

.section-II{
   @apply flex flex-col lg:flex-row justify-center gap-x-10 items-center px-5 sm:px-0 py-20 w-full;
}
.text-headings{
   @apply text-2xl text-center lg:text-start sm:text-3xl lg:text-5xl font-bold uppercase text-[#303134]
}
.astro-text{
   @apply text-center lg:text-start sm:text-xl mx-auto lg:mx-0 uppercase font-semibold text-orange-500 my-6 lg:w-[50%];
}

.section-I-a{
   @apply capitalize mx-auto lg:mx-0 bg-orange-500 text-white hover:bg-orange-400 drop-shadow-md transition-all duration-300 ease-in-out pb-3 pt-2 lg:px-8  rounded-full flex justify-center items-start font-semibold text-center lg:text-center lg:justify-start lg:items-start mt-6  lg:text-xl   w-[150px] lg:w-[200px]
}
/* closed */

/* section2 */
  .section2-I{
    @apply h-screen w-full relative overflow-hidden bg-[#171717];
  }

  .section2-astro-img1{
    @apply absolute top-0 lg:w-[40%]
  }

  .section2-astro-img2{
    @apply absolute -bottom-[8%] w-[80%] lg:w-auto -right-[14%]  lg:-right-[5%]
  }

  .section2-text{
    @apply absolute top-[50%] left-[50%] lg:left-[50%]
  }
  .translate-x{
    transform: translate(-50%, -50%);
  }

  .gen-text-headings{
    @apply text-2xl w-[350px] sm:w-auto sm:text-3xl lg:text-5xl font-bold uppercase text-start lg:text-center;
  }
  .gen-astro-text{
    @apply sm:text-xl w-[350px] sm:w-auto lg:mx-0 uppercase font-semibold text-start lg:text-center text-orange-500;
  }

  .section2-a{
     @apply font-semibold text-center lg:text-center flex justify-center items-start lg:justify-center lg:items-center mt-6 bg-white hover:bg-[#f1f1f1] text-orange-500 capitalize lg:text-xl lg:mx-auto drop-shadow-md transition-all duration-300 ease-in-out  lg:px-8 pb-3 pt-2 rounded-full w-[150px] lg:w-[200px]  
  }

/* closed */

/* global use */


/* closed */